.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding {
    padding: 115px 20px;
}
.service-icon {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #54BE73 none repeat scroll 0% 0%;
    color: #FFF;
    border-radius: 45px;
    font-size: 38px;
    left: 50%;
    margin-left: -32px;
    top: -32px;
    line-height: 65px;
}
.single-service-box {
    display: block;
    border: 2px solid #E8E8E8;
    border-radius: 4px;
    text-align: center;
    position: relative;
    color: black;
    padding: 50px;
}
.single-service-box p {
    font-size: 15px;
}
.single-service-box h3 {
    font-size: 29px;
}
.single-service-box:hover {
    color: #E8E8E8;
}
