.alignleft
{
	float: left;
	margin-right: 15px;
}
.alignright
{
	float: right;
	margin-left:15px;

}
.aligncenter
{
	display: block;
	margin: 0 auto 0 0;
}
.section-padding
{
	
}
h1,h2,h4,h5,h3,h6
{
	/*font-weight: 700px;
*/	text-decoration: none;
	
}
/*Left Part*/
.left-title
{
	background: #263238;
	line-height: 1.5px;
	padding-top: 40px;
}
.left-title p {
	color: #FFF;
	font-size: 16px;
	text-align: center;
	padding-bottom: 70px;
	margin:0px;
}
.left-title h2 {
	color: #fff;
	font-size: 21px;
	text-align: center;
}
.no-margin
{
	margin:0px 0px 0px 0px;
	padding: 0px;
}
.left-title-image img {
	height: auto;
	max-width: 200px;
	background-image: ;
	margin-left: 85px;
	margin-right: 85px;
	display: block;
	border-radius: 50%;
}
.left-body
{
	background:#37474F;
	padding-bottom: 100px;
	padding:70px 85px;

}
.about-me
{
	margin-right: -35px;
	position: relative;

}
.about-me h4 span {
	margin: 0px 10px;
	color: #fff;
}
.about-me p
{
	color: #fff;
	font-size: 11px;
	margin-bottom: 20px
}
.about-me i {
	background: rgb(38, 50, 56) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	font-size: 16px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	line-height: 42px;
	line-height: 38px;
	padding-left: 10px;
}
.glyphicon.glyphicon-map-marker.cicon,.glyphicon.glyphicon-globe.cicon, .glyphicon.glyphicon-earphone.cicon,
.glyphicon.glyphicon-pushpin.cicon{
	background: #FFF none repeat scroll 0% 0%;
	color: #263238;
	height: 25px;
	width: 25px;
	line-height: 27px;
	padding-left: 5px;
	margin-left: 10px;

}
.about-me h5 span
{
	margin: 0px 10px;
	color: #fff;
	display: block;
margin-top: -25px;
margin-left: 50px;
	padding-bottom: 10px;
}
.custom
{
	height: 7px;
width: 80%;
display: inline-block;
margin-left: 50px;
margin-top: -13px;
}
.progress-custom
{
	background-color: #263238;

}
.skills
{
	padding-top: 20px;
	padding-bottom: 285px;
}
.right
{
	background: :#fff;
	padding: 40px  85px;
}
.work-experience
{
	margin-right: -35px;
	position: relative;
	padding-top: 10px;
padding-bottom: 10px;

}
.work-experience h4 span {
	margin: 0px 10px;
	color: #000;
	font-size: 21px;	
}
.work-experience p
{
	color: #fff;
	font-size: 11px;
	margin-bottom: 20px
}
.work-experience i {
	background: rgb(38, 50, 56) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	font-size: 16px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	line-height: 42px;
	line-height: 38px;
	padding-left: 10px;
}
.work-experience h5 span
{
	margin: 0px 10px;
	color: #fff;
	display: block;
margin-top: -25px;
margin-left: 50px;
	padding-bottom: 10px;
}
.ex-details
{
	margin-left: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.ex-details h4
{
	font-size: 21px;
}
.ic h6 span {
	padding-right: 20px;
}
.ic
{
	opacity: .5;
}
.flagg
{
	margin-left: 55px;
}
.flagg h2
{
	font-size: 100px;
}
.flagg h2 span
{
	margin-left: 30px;
}
.flagg h3 
{
}
.flagg h3 span
{
	margin-left: 30px
}
.fl {
	height: 100px;
	display: inline-block;
}
.flagg i {
	font-size: 20px;
}
.flagg i {
	font-size: 20px;
}